*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #444;
}
.main-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(to top left, #333 50%, #444 50%);
  padding: 3rem;
}
.to-do-app {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}
.do-list,
.done-list {
  width: 400px;
  max-height: 100%;
  border-radius: 0.5rem;
  background-color: #ccc;
  padding: 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2,
.header i {
  font-size: 1.5rem;
  transition: 0.5s;
}
.header h2:hover,
.header i:hover {
  color: #777;
}

/*add a card part */
.add-a-card-btn {
  width: 100%;
  padding: 1.2rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  background-color: #ff8011d8;
  box-shadow: 0 2px 10px 2px #222222a6;
  text-align: left;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  transition: 0.8s;
}
.add-a-card-btn:hover {
  background-color: #ff8011d8;
  color: #333;
  box-shadow: none;
  cursor: pointer;
}

/* modals */
.modal-add-card,
.modal-edit-card {
  width: 100%;
  display: none;
}
.form {
  width: 100%;
  height: 130px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  box-shadow: 0 2px 10px 2px #222222a6;
  background-color: rgba(131, 136, 141, 0.356);
  border-radius: 0.4rem;
}
.input {
  width: 100%;
  padding-inline: 0.5rem;
  min-height: 3rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  background-color: #ccc;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px #333;
}
.input::placeholder {
  font-size: 0.8rem;
}
.add-or-undo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}
.add-card-btn {
  width: 6rem;
  padding: 0.6rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  background-color: #4d70a0;
  color: #d4d4d4;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.5s;
}
.add-card-btn:hover {
  background-color: #4780cf;
}
.modal-edit-card .add-card-btn {
  background-color: rgb(56, 122, 85);
}
.modal-edit-card .add-card-btn:hover {
  background-color: rgb(53, 145, 93);
}
.close-add-window,
.close-edit-window {
  font-size: 1.8rem;
  color: #9c5b5b;
  cursor: pointer;
}

/* do items  */
.all-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.item {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 0.6rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: 0.8s;
}
.item:hover {
  background-color: #b8b7b78f;
}
.item-title {
  font-size: 1.05rem;
  font-weight: 700;
  pointer-events: none;
}
.item-bar {
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  background-color: #b9b9b965;
  box-shadow: 0 1px 10px rgb(151, 151, 151);
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.item-bar:hover {
  background-color: #cecbcbb6;
}
.item:hover .item-bar {
  visibility: visible;
}
.show-icons {
  width: auto;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0.2rem;
  background-color: #adadad65;
  border-radius: 0.2rem;
  visibility: hidden;
  transition: 0.5s;
}

.show-icons i {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.show-icons i:hover {
  background-color: #adadadc7;
}
